* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: white;
    padding: 0;
    margin: 0;
}


header {
    background: #92b2b9;
    color: black;
    padding: 14px 50px;;
    display: center;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.header h1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 14px 22px;
    background: #869fbb;
    color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 40;
    margin-top: 30px;

}
.title {
    font-size: 25px;
    margin-top: 80px;

}
.marca{
    display:flex;
    align-items: center;
    gap: 1px;

}
.logo img{
    height: 10px;
    width: 2px;
    border-radius: 1px;
    background:transparent;
    padding: 2px;
}

header h2 {
    font-size:3px;
    padding: 40px;
}

header nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

header nav a:hover {
    color: #acafaf;
}


h2 {
    margin: 30px 0 15px 0;
    text-align: center;
    color: white;
}

form {
    width: 400px;
    background: white;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

label {
    font-weight: bold;
    color: #000000;
}



footer {
    margin-top: 40px;
    background: #1e1e1e;
    color: white;
    text-align: center;
    padding: 15px;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background: #92b2b9;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto; 
}
h2{
    color:white;
}
h3{
    height: 80px;
    width: auto;
    border-radius: 6px;
    padding: 2px;
}
.img{
height: 10px;
width: 10px;
}